def initialize(context):
   
    
    set_long_only()
    
   
    set_commission(commission.PerTrade(cost=0))


def initialize(context):
    
    
    context.lemuel = symbol('ADI')
    



def handle_data (context, data):
    
    cost_basis = context.portfolio.positions[context.lemuel].cost_basis
    money = context.portfolio.cash
    bpower = money + 2000 
    reserve = 15 
    pesa = bpower - reserve    
    
    
    if context.lemuel not in context.portfolio.positions and bpower >= data.current(context.lemuel, 'price'):
            order(context.lemuel, 1)      
            log.info( "Re-ordered")
        
    if data.current(context.lemuel, 'price') < 0.9999 * cost_basis and pesa >= data.current(context.lemuel, 'price'): 
            order(context.lemuel, +1)  
            log.info('1 share ordered')
                  
